#winner{
   font-size: 20vh;
   color: gold;
}

footer{
   height: 0;
   overflow: hidden;
}

header{
   text-align: center;
}
header div{
   margin: 10px auto;
   display: grid;
   width: 500px;
   grid-template-columns: repeat(10, 50px);
   grid-template-rows: repeat(10, 50px);
   background: #000;
}

main{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

section div{
   display: grid;
   grid-template-columns: repeat(10, 30px);
   width: 300px;
   margin: auto;
}

div button{
   min-height : 30px;
   min-width: 30px;
}

.hovered{
   background-color: red;
}

.placed{
   background-color: greenyellow;
}

p{
   text-align: center;
   font-size: xx-large;
}

.damaged{
   background-color: red;
}

.not-damaged{
   background-color: aqua;
}

.shown{
   text-align: center;
   font-size: 2rem;
   height: calc(100vh - 2 * 8px);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.shown input[type="number"]{
   border: 0;
   width: 2ch;
   font-size: 2rem;
}
.shown input[type="text"]{
   font-size: 2rem;
}
.shown button{
   background-color: aliceblue;
   font-size: 2rem;
   font-weight: bold;
   padding: .5rem;
   animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
   100%{
      background-color: gold;
   }
}
